<div class="col sale-item">
    <div class="sale-item--inner product {{ item.data.color }} {{ active }}" data-x="{{ item.x }}" data-y="{{ item.y }}" data-price="{{ item.data.calculatedPrice }}" data-name="{{ item.data.name }}" data-productId="{{ item.data.id }}">
    <p>{{ item.data.name }}</p>
</div>
</div>
