<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>{{ __("stock-taking-page-title") }}</h1>
            <p class="text-right">{{ __("product-list-showing-products") }} : {{ items|length }} </p>

            <button title="Inventura" class="btn btn-info text-white align-self-center" onclick="redirect('/stocktaking/{{ stockId }}/edit')"><i class="fas fa-dolly-flatbed"></i> {{ __("stocktaking") }}</button>
            <button class="btn btn-warning text-white align-self-center m-2" onclick="redirect('/stock/edit/{{  stockId }}/edit')"><i class="fas fa-pen"></i> {{ __("edit-stock") }}</button>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ __("name") }}</th>
                        <th scope="col">{{ __("price") }}</th>
                        <th scope="col">{{ __("quantity") }}</th>
                        <th scope="col">{{ __("actions") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {{ include('stock/stockTaking-single.twig') }}
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
